body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size:100%;
    color:#40514E;
    
}
h1{
    margin: 50px auto 0 auto;
    font-size:5.625rem;
    color:#53B49F;
    font-family:'Sacramento', cursive;

 }
h2{
    font-family: "Montserrat",sans-serif;
    font-size: 2.18rem;
    color:#66BFBF;
    padding-bottom: 10px;
    }
h3{
    font-family:"Montserrat",sans-serif; 
    color:#11999E;
}
.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top:100px ;

}
.middle-container{
    position: relative;
    padding-top: 80px;
    padding-bottom: 120px;
    
}
.bottom-container{
    background-color: #66BFBF;
    padding-top: 70px;
    padding-bottom:40px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}
.bottom-cloud{
    position: absolute;
    left:550px;
    bottom: 300px;

}
.top-cloud{
    position: absolute;
    right:550px;
    top:50px;
    
}
.profilepict{
    border-radius: 100%;
    height: 220px;
    
}
.skates{
    border-radius: 100%;
    width: 22%;
    float: left;
    margin-right: 30px;
}
.painting{
    border-radius: 100%;
    width: 22%;
    float: right;
    margin-left: 30px;
}
.guitar{
    border-radius: 100%;
    width: 22%;
    float: right;
    margin-left: 30px;
}
.programing{
    border-radius: 100%;
    width: 22%;
    float: left;
    margin-right: 30px;
}
a{
    color:#11999E ;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;

}
a:hover{
    color:#EAF6F6;
    text-decoration:none;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    padding-bottom: 20px;
    }
    hr{
        width: 5%;
        border-style: dotted none none;
        border-color: #EAF6F6;
        border-width: 10px;
        height:0px;
        margin: 50px auto;
        
    }
    .footer-link{
        line-height: 2;
        font-size: 20px;
        margin:10px 20px;
    }
    .sklls{
        padding:20px 0;
    }
    .profile{
        padding-bottom: 10px ;
    }
    .intro{
        width: 35%;
        text-align: center;
        margin:auto;
    }
    p{
        line-height: 2;
    }
    .contact-msg{
        width: 40%;
        margin:40px auto 60px;
    }
    .btn {
        background: #11CDD4;
        background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
        background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
        background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
        background-image: -o-linear-gradient(top, #11CDD4, #11999E);
        background-image: linear-gradient(to bottom, #11CDD4, #11999E);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        color: #FFFFFF;
        font-family: "Montserrat",sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
        box-shadow: -2px 1px 5px 0px #11999E;
        -webkit-box-shadow: -2px 1px 10px 0px #11999E;
        -moz-box-shadow: -2px 1px 10px 0px #11999E;
        text-shadow: 1px 1px 20px #EAF6F6;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        }
        
        .btn:hover {
        
        background: #30E3CB;
        background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
        background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        text-decoration: none;
        }
